.headerContainer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    transform: 2s ease-in-out; 
  }
  .titelLogoNavContainer{
    background-color: var(--secoundColor);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s ease-in-out; 
  }
  .headerContainer nav {
    display: flex;
    width: 100%;
    padding: 0.2em;
  }
  .headerContainer nav div {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
  }
  .menuContainer{
    display: flex;
    flex-direction: column;
    background-color: var(--fourthColor);
    transition: 0.5s ease-in-out; 
    border-bottom: 0.1em solid var(--firstColor);;
  }
.menuContainer ul{
  background-color: var(--fourthColor);
}
  .titelContainer{
display: flex;
align-items: center;
flex-grow: unset;
  }
  .titelContainer h1{
    margin-right: 0.5em;
    font-size: 0.8em;
  }
