.contactForm{
color: var(--firstColor);
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid var(--fourthColor);
}

.contactForm div {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 90vw;
}
.contactForm button {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
}
.contactForm div label{
    color: var(--fourthColor);
    margin-right: 1rem;
    }
.contactForm div textarea,
.contactForm div input{
    width: 70vw;
}
