@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(8, 5, 41);
  color: white;
  margin: 0;
  padding: 0;
  width: 100vw;
}
div,section{
  transition: 5s ease-in-out;
}
a{
  text-decoration: none;
  color: white;
}
ul{
  list-style-type: none;
}
p, b, a, button{
  font-size: 1.2em;
  color: white;
}
h1{
  font-size: 2.6em;
  color: white;
}
h2{
  font-size: 2.0em;
  color: white;
}
h3{
  font-size: 1.4em;
  font-weight: bold;
  color: white;
}
h4{
font-size: 1.0em;
}
li{
  transition: 0.2s ease-in-out;
}
li:hover{
  background-color: 	rgb(8, 5, 41);
    transition: 0.2s ease-in-out;
    }
li:active{
  background-color: rgb(69, 61, 152);
    transition: 0.1s ease-in-out;
    }
figure {
  margin: 0;
}
button, .button{
  background-color: 	rgb(122, 115, 203);
  padding: 0.5rem;
  border-radius: 10rem;
  transition: 0.1s ease-in-out;  
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover, .button:hover{
  background-color: 	rgb(156, 151, 213);
}
section{
  min-height: 50vh;
}

@media (max-width: 768px) {
  body {
    p, b, a, button{
      font-size: 0.8em;

    }
    h1{
      font-size: 2.0em;

    }
    h2{
      font-size: 1.4em;

    }
    h3{
      font-size: 1em;

    }
    h4{
    font-size: 1.0em;
    }
  }
}
