.mainContainer{
padding: 0.4rem;
width: 95vw;
    overflow: hidden;

}
.container{
    display: flex;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 0.8rem;
    margin: 0.6rem;
    overflow: hidden;
}
.container div:first-child{
    padding: 0.8rem;
    overflow: hidden;
}
.leftSideContainer{
    min-width: 12rem;
}
.leftSideContainer .button{
    width: 10rem;
}
.infoContentContainer{
    display: grid;
    grid-template-columns: auto auto;
}
.infoContentContainer p {
    padding: 0 0.6rem;
}
.partCss{
    margin: 0.6rem;
    
}
.leftSideContainer h3{
    margin-right: 1rem;
}
@media (max-width: 768px) {

    .mainContainer{
        padding: 0.2rem;
        }
        .container{

            border-radius: 1rem;
            padding: 0.4rem;
            margin: 0.3rem;
        }
        .container div:first-child{
            padding: 0.4rem;
        }
        .leftSideContainer{
            min-width: 6rem;
        }
        .leftSideContainer .button{
            width: 5rem;
        }
    /*    .infoContentContainer{
            display: grid;
            grid-template-columns: auto auto;
        }*/
        .infoContentContainer p {
            padding: 0 0.3rem;
        }
        .partCss{
            margin: 0.3rem;
        }
        .leftSideContainer h3{
            margin-right: 0.5rem;
        }
}    
